.home {
  margin-top: 10px;
}

.home {
  color: rgb(0, 0, 0);
}

.hacker {
  color: white !important;
}

.Contracts {
  margin-bottom: 30px;
}

.hackerdash {
  margin-left: 30%;
}

.metamask {
  margin-left: 15%;
}
